#left-column {
  background-color: lightsalmon;
  max-width: 200px;
  min-width: 200px;
}

#center-column {
  background-color: lightgreen;
}

#right-column {
  background-color: lightblue;
  display:flex;
  width: 200px;
}

#right-column > .flex {
  z-index: -1;
  overflow: hidden;
}

.whole-app-container {
  width: 700px;
  height: 500px;
  overflow:hidden;
}

.right-column-content {
  min-width: 200px;
  display: inline;
}